@import url('https://fonts.googleapis.com/css?family=Lobster');
</style>
body {
  font-family: sans-serif;
}

.header {
  text-align: center;
  font-family: 'Lobster', cursive;
  background-color: #b30000;
  color: white;
}

.btn-custom {
 background-color: #ebd9c6;
 border: #aa753c;
 color: black;
}
